<div style="text-align: center;">
<h1>{{num}}</h1>
<button (click)="handleCounter('plus')">Plus</button>
<button (click)="handleCounter('minus')">Minus</button>
<button (click)="handleCounter('reset')">Reset</button>
</div>
<hr>
<br>
<app-login/>

<hr>
<h1>User name:{{dispaly}}</h1>
<input type="text" (input)="inputValue($event)">
<br>
<button (click)="inputPrint()">user name</button>
<br><br>

<hr>
<h2>Template Variable</h2>

<h1>{{phoneNum}}</h1>

<input type="text" #phone>
<Button (click)="getPhone(phone.value)">phone</Button>

<br><br>

<hr>









<router-outlet/>

