<div style="text-align: center;">
<h1 class="">{{num}}</h1>
<button class="bg-sky-300 hover:bg-sky-400 rounded-full size-15 mr-1" (click)="handleCounter('plus')">Plus</button>
<button class="bg-yellow-300 hover:bg-yellow-400 rounded-full size-15 mr-1"(click)="handleCounter('minus')">Minus</button>
<button class="bg-red-500 hover:bg-red-700 rounded-full size-15 mr-1" (click)="handleCounter('reset')">Reset</button>
</div>
<hr>
<br>
<app-login/>

<hr>
<h1>User name:{{dispaly}}</h1>
<input type="text" (input)="inputValue($event)">
<br>
<button (click)="inputPrint()">user name</button>
<br><br>

<hr>
<h2>Template Variable</h2>

<h1>{{phoneNum}}</h1>

<input type="text" #phone>
<Button (click)="getPhone(phone.value)">phone</Button>

<br><br>

<hr>









<router-outlet/>

